<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/views/common/header :: header"/>
<style>
    .book-content{
        width:100%;
        height:30px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow: ellipsis; //ellipsis 속성 추가
    }

    select {
        text-align: center;
    }

</style>
<script>
    $(document).ready(function () {
       init();
       //
       // $("#searchBtn").on("click", function (event) {
       //
       // });
    });

    function init() {
        let query = $("#hiddenQuery").val();
        let queryType = $("#hiddenQueryType").val();
        let page = $("#hiddenPage").val();

        if (query != null && queryType != '') {
            $("#Query").val(query);
            $("#QueryType").val(queryType).prop("selected", true);
        }
    }

    function submit() {
        $("#searchBtn").preventDefault();
        let query = $("#Query").val();
        if (nullCheck(query)) {
            alert("검색어를 입력해주세요.");
            return;
        }
        let form = $("#form");
        form.submit();
    }
</script>
<body>
<div th:replace="/views/common/bodyHeader :: bodyHeader"/>

<div class="container" style="width: 80%;">
    <div>
        <p class="h1" th:text="|도서 검색|"></p>
    </div>

    <input type="hidden" id="hiddenQuery" th:value="${Query}">
    <input type="hidden" id="hiddenQueryType" th:value="${QueryType}">
    <input type="hidden" id="hiddenPage" th:value="${Page}">

    <form action="" method="get" id="form">
        <div class="search-form">
            <div class="category">
                <select  th:id="QueryType" th:name="QueryType">
                    <option th:id="KeyWord" th:value="Keyword" th:text="|제목 + 저자|"></option>
                    <option th:id="Title" th:value="Title" th:text="|제목|"></option>
                    <option th:id="Author" th:value="Author" th:text="|저자|"></option>
                    <option th:id="Publisher" th:value="Publisher" th:text="|출판사|"></option>
                </select>
            </div>
            <div class="search-text">
                <input type="text" th:id="Query" th:name="Query" th:placeholder="|검색어를 입력하세요.|">
            </div>
            <input type="hidden" id="Page" name="Page">
            <div class="search-btn">
                <button type="button" th:text="|검색|" th:id="searchBtn" class="btn btn-info" th:onclick="submit()"></button>
            </div>
        </div>
    </form>

    <div th:if="${bookList != null}">
        <span class="row p-3">
            <div th:each="book : ${bookList}" class="card col-3 mb-3 mt-3 p-3">
                <img th:src="@{${book.cover}}" class="card-img-top" alt="..." width="260px;" height="470px;">
                <div class="card-body">
                    <h5 class="card-title book-content" th:text="${book.getName}">Card title</h5>
                    <p class="card-text h6" th:text="${book.author}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text h6" th:text="${book.publisher}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text h6" th:text="${book.pubDate}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a th:href="@{/item/book/{isbn} (isbn = ${book.isbn})}" class="btn btn-primary" th:text="|상세 정보|">Go somewhere</a>
                </div>
            </div>
        </span>
    </div>

    <div style="margin-top: 60px;"></div>
</div>


<div th:replace="/views/common/fotter :: fotter"/>
</body>
</html>